# Dependencies
/.deps
/.distfiles

# Build Output
/x86
/amd64
/arm
/arm64
/dist

# Portable runtime data
/Data
*.conf
*.conf.dpapi

# Misc
/locales/*/out.gotext.json
/sign.bat
*.swp
*.bak
*.syso
.idea
*.ico
